.background-section {
    background-image: url(imagens/bc\ beneficios.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
  }
  .titulo{
    color: aliceblue;
    background-color: rgba(110, 105, 105, 0.5);
    border-radius: 5px;
  }